.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--centrocolor-color);
  background-color: var(--fonokolor-color);
  font-size: 16px;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
}
address {
  margin-left: auto;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid red;
}

/*--------------header-------------*/
.header-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.header {
  border-bottom: 1px solid var(--fonokolor-color);
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-logotup {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--centrocolor-color);
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 76px;
}
.logofint {
  color: var(--btncolor-color);
}
.header-li:not(:last-child) {
  margin-right: 40px;
}
.header-link {
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--centrocolor-color);
  text-decoration: none;
}
.header-link:hover {
  color: var(--hovercolor-color);
}
.adress-ul a {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondcolor-color);
  text-decoration: none;
}
.adress-ul a:hover,
.adress-ul a:focus {
  color: var(--hovercolor-color);
}
.adress-ul {
  list-style: none;
  display: flex;
  align-items: center;
  display: flex;
  gap: 40px;
}
.header-ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

/*---------------Hero----------------*/

.hero {
  text-align: center;
  padding: 188px 0;
  background-color: var(--centrocolor-color);
}
.heading {
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 48px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--fonokolor-color);
}
.first-btn {
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--fonokolor-color);
  background: var(--btncolor-color);
  cursor: pointer;
}
.first-btn:hover {
  background: var(--hovercolor-color);
}

/*--------------Section2---------------*/
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.advantages-list {
  gap: 24px;
  display: flex;
  list-style-type: none;
}
.advantages-item {
  width: 264px;
}
.headline {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--centrocolor-color);
}
.heading-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondcolor-color);
}
.section-title {
  margin-bottom: 72px;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  font-size: 36px;
  line-height: 1.11;
  color: var(--centrocolor-color);
}
.img-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}
.section-team {
  background-color: #f4f4fd;
}
.people-ul {
  display: flex;
  gap: 24px;
  text-align: center;
  list-style-type: none;
}
.nametext {
  gap: 8px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-width: 1px;
  border-style: solid;
  border-top: none;
  border-color: #e7e9fc;
  background-color: #ffffff;
}
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--centrocolor-color);
}
.footer-text {
  max-width: 300px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
.footer-logotup {
  padding-top: 100px;
  padding-bottom: 16px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: #f4f4fd;
  text-decoration: none;
  text-transform: uppercase;
}

/*--------------page2-------------*/

.btn-ul button {
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  color: var(--btncolor-color);
  background-color: #f4f4fd;
  border-color: #8e8f99;
}
.btn-ul button:hover {
  color: var(--fonokolor-color);
  background-color: var(--hovercolor-color);
}
.btn-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  list-style-type: none;
  padding-top: 96px;
  padding-bottom: 72px;
}
.content-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  margin-bottom: 120px;
}
.divcard {
  gap: 8px;
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-width: 1px;
  border-style: solid;
  border-top: none;
  border-color: #e7e9fc;
  margin-bottom: 48px;
}
:root {
  --centrocolor-color: #2e2f42;
  --secondcolor-color: #434455;
  --fonokolor-color: #ffffff;
  --hovercolor-color: #404bbf;
  --btncolor-color: #4d5ae5;
}
